Diagnostics:
  ClangTidy:
    Add: [
      clang-analyzer-*,
      readability-*,
      modernize-*,
      performance-*,
      bugprone-*,
    ]
    Remove: [
      modernize-use-trailing-return-type
    ]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase


---

If:
  PathMatch: .*\.tpp
CompileFlags:
  Add: [-x, c++-header]

