# Diagnostics:
#   ClangTidy:
#     Add: [
#       clang-analyzer-*,
#       readability-*,
#       modernize-*,
#       performance-*,
#       bugprone-*,
#     ]
#     Remove: [
#       modernize-use-trailing-return-type,
#       readability-identifier-naming,
#       readability-identifier-length
#     ]


---

If:
  PathMatch: .*\.tpp
CompileFlags:
  Add: [-x, c++-header]

